@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'icomoon';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}

/* ICOMOON icons parameters */

.icon-asterisk:before {content: "\e60a";}
.icon-home:before {content: "\e60f";}
.icon-infinity:before {content: "\e611";}
.icon-image:before {content: "\e612";}
.icon-ruler:before {content: "\e613";}
.icon-git:before {content: "\e615";}
.icon-pentagon:before {content: "\e619";}
.icon-paper:before {content: "\e61b";}
.icon-code:before {content: "\e621";}
.icon-youtube:before {content: "\e623";}
.icon-fail:before {content: "\e624";}
.icon-text:before {content: "\e626";}
.icon-download:before {content: "\e629";}
.icon-layers-down:before {content: "\e62a";}
.icon-layers-middle:before {content: "\e62b";}
.icon-layers-up:before {content: "\e62c";}
.icon-sputnik:before {content: "\e62d";}
.icon-atomic:before {content: "\e62e";}
.icon-touch:before {content: "\e62f";}
.icon-mine:before {content: "\e631";}
.icon-creep:before {content: "\e632";}
.icon-dir:before {content: "\e633";}
.icon-fire:before {content: "\e634";}
.icon-curve:before {content: "\e635";}
.icon-radius:before {content: "\e636";}
.icon-setText:before {content: "\e637";}
.icon-tool:before {content: "\e639";}
.icon-chemistry:before {content: "\e63a";}
.icon-color:before {content: "\e63b";}
.icon-medal:before {content: "\e63c";}
.icon-sliders:before {content: "\e63d";}
.icon-grid:before {content: "\e63e";}
.icon-play:before {content: "\e63f";}
.icon-stop:before {content: "\e640";}
.icon-pause:before {content: "\e641";}
.icon-record:before {content: "\e642";}
.icon-3d:before {content: "\e643";}
.icon-slide:before {content: "\e644";}
.icon-hd:before {content: "\e645";}
.icon-scale:before {content: "\e646";}
.icon-dna:before {content: "\e647";}
.icon-microwave:before {content: "\e648";}
.icon-aperture:before {content: "\e649";}
.icon-zelda:before {content: "\e64a";}
.icon-cursor:before {content: "\e64b";}
.icon-polygon:before {content: "\e64c";}
.icon-line:before {content: "\e64d";}
.icon-elipse:before {content: "\e64e";}
.icon-ruler:before {content: "\e64f";}
.icon-ghost:before {content: "\e650";}
.icon-gameboy:before {content: "\e651";}
.icon-shitNeg:before {content: "\e652";}
.icon-shitPos:before {content: "\e653";}
.icon-dodo:before {content: "\e654";}
.icon-pipe:before {content: "\e655";}
.icon-comments:before {content: "\e656";}
.icon-cannon:before {content: "\e657";}
.icon-scaleup:before {content: "\e658";}
.icon-psbuttoncircle:before {content: "\e600";}
.icon-psbuttonsquare:before {content: "\e601";}
.icon-psbuttontriangle:before {content: "\e602";}
.icon-psbuttonx:before {content: "\e603";}
.icon-insertpicture:before {content: "\e604";}
.icon-crop:before {content: "\e605";}
.icon-eyedropper:before {content: "\e606";}
.icon-videocamera:before {content: "\e607";}
.icon-chrome:before {content: "\e608";}
.icon-post2:before {content: "\e609";}
.icon-user:before {content: "\e61a";}
.icon-friends:before {content: "\e61c";}
.icon-thumbdown:before {content: "\e61d";}
.icon-brightness:before {content: "\e61e";}
.icon-brightnessfull:before {content: "\e61f";}
.icon-brightnesshalf:before {content: "\e620";}
.icon-gear:before {content: "\e622";}
.icon-windows:before {content: "\e625";}
.icon-oneup:before {content: "\e627";}
.icon-delete:before {content: "\e628";}
.icon-ok:before {content: "\e630";}
.icon-multiply:before {content: "\e638";}
.icon-minus:before {content: "\e659";}
.icon-plus:before {content: "\e65a";}
.icon-bottom:before {content: "\e65b";}
.icon-top:before {content: "\e65c";}
.icon-forward:before {content: "\e65d";}
.icon-back:before {content: "\e65e";}
.icon-world:before {content: "\e65f";}
.icon-spiral:before {content: "\e660";}
.icon-Points:before {content: "\e661";}
.icon-scissors:before {content: "\e662";}
.icon-uniF4A6:before {content: "\e663";}
.icon-lastfm:before {content: "\e664";}
.icon-polygonlasso:before {content: "\e665";}
.icon-uniF57D:before {content: "\e60b";}
.icon-spaceinvaders:before {content: "\e60c";}
.icon-resistor:before {content: "\e60d";}
.icon-dcsource:before {content: "\e60e";}
.icon-diode:before {content: "\e610";}
.icon-capacitator:before {content: "\e614";}
.icon-helicopter:before {content: "\e616";}
.icon-brain:before {content: "\e617";}
.icon-tooth:before {content: "\e618";}
.icon-lungs:before {content: "\e666";}
.icon-kidney:before {content: "\e667";}
.icon-stomach:before {content: "\e668";}
.icon-liver:before {content: "\e669";}
.icon-html:before {content: "\e66a";}
.icon-html5:before {content: "\e66b";}
.icon-css3:before {content: "\e66c";}
.icon-roundedrectangle:before {content: "\e66d";}
.icon-flaskfull:before {content: "\e66e";}
.icon-wizard:before {content: "\e66f";}
.icon-play:before {content: "\e670";}
.icon-stop:before {content: "\e671";}
.icon-record:before {content: "\e672";}
.icon-triangle:before {content: "\e673";}
